*__pycache__*
*.pyc
python_virtual_env
python_virtual_env/*
*_env
venv/*
.venv/*
.vscode
logger
logger/*
tmp/*
tmp
tcp_dump/*
results_xml_format/*.xml
.idea/*
.idea\*
portable_apps/*
portable_apps\*
portable_apps
.idea/workspace.xml
.idea\workspace.xml
*.idea*
*.xml
*.iml
.git-old
creds_file.json
creds_file.stage.json
creds_file.prod.json
# Cursor shared rules symlink (created by install script)
.cursor/shared-rules
.tmp
# Claude shared commands symlink (created by install script)
.claude/commands/shared
