*__pycache__*
*.pyc
python_virtual_env
python_virtual_env/*
*_env
venv/*
.vscode
logger
logger/*
tmp/*
tmp
tcp_dump/*
results_xml_format/*.xml
.idea/*
.idea\*
portable_apps/*
portable_apps\*
portable_apps
.idea/workspace.xml
.idea\workspace.xml
*.idea*
*.xml
*.iml
.git-old
creds_file.json
